<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment(pageTitle)">
	<title th:text="${pageTitle}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

	<div th:fragment="head">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Acunputura clínica</a>
				</div>
			</div>
		</nav>
	</div>
	
	<div th:fragment="menu" class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li th:classappend="@{${#httpServletRequest.requestURI}} == '/user' ? active"><a href="/user">Usuários</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div th:fragment="footerFragment">
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</div>

</body>
</html>