<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment(pageTitle)">
	<meta charset="UTF-8"/>
	<title th:text="${pageTitle}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

	<div th:fragment="head">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Acunputura clínica</a>
				</div>
			</div>
		</nav>
	</div>
	
	<div th:fragment="menu" class="col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li th:classappend="${model} == 'user' ? active">
				<a href="/user">Usuários</a>
			</li>
			<li th:classappend="${model} == 'client' ? active">
				<a href="/client">Clientes</a>
			</li>
		</ul>
	</div>

	<div th:fragment="footerFragment">
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</div>

</body>
</html>